.login-box {
  background-color: aquamarine;
  width: 40%;
  margin: auto;
  border-radius: 10px;
  font-size: 20px;
}

.login-user-picture img{
  border-radius: 50%;
  max-width: 40%;
  max-height: auto;
  display: block;
  margin: auto;
}

.login-title {
  text-transform: uppercase;
  color: white;
  font-size: 1.5em;
  font-weight: 700;
}
